<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration scan="true">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${config_path}/service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${config_path}/service.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="requestLogAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${config_path}/request.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${config_path}/request.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	
	<appender name="slowLogAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${config_path}/slow.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${config_path}/slow.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
   <appender name="errorLogAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${config_path}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${config_path}/error.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<logger name="requestLog"
		level="INFO" additivity="false">
		<appender-ref ref="requestLogAppender" />
	</logger>
	
	<logger name="slowLog" level="INFO" additivity="false">
		<appender-ref ref="slowLogAppender" />
	</logger>
	
    <logger name="stdout" level="INFO" additivity="false">
		<appender-ref ref="errorLogAppender" />
	</logger>
	
	<logger name="errorLog" level="INFO" additivity="false">
        <appender-ref ref="errorLogAppender"/>
    </logger>

	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>